### CÃ¢ncer de Mama
---

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('breast-cancer-dataset.csv')

In [10]:
data.head()

,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,History,Diagnosis Result
0,40,1,2,0,Right,0,0,Benign
1,39,1,2,0,Left,0,0,Benign
2,45,0,4,0,Left,0,0,Benign
3,26,1,3,0,Left,0,1,Benign
4,21,1,1,0,Right,0,1,Benign

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               213 non-null    int64
 1   Menopause         213 non-null    int64
 2   Tumor Size (cm)   213 non-null    object
 3   Inv-Nodes         213 non-null    object
 4   Breast            213 non-null    object
 5   Metastasis        213 non-null    object
 6   History           213 non-null    object
 7   Diagnosis Result  213 non-null    object
dtypes: int64(2), object(6)
memory usage: 13.4+ KB

In [12]:
data.describe()

              Age   Menopause
count  213.000000  213.000000
mean    39.784038    0.666667
std     14.096712    0.472515
min     13.000000    0.000000
25%     30.000000    0.000000
50%     40.000000    1.000000
75%     49.000000    1.000000
max     77.000000    1.000000

In [14]:
data.head()

,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,History,Diagnosis Result
0,40,1,2,0,Right,0,0,Benign
1,39,1,2,0,Left,0,0,Benign
2,45,0,4,0,Left,0,0,Benign
3,26,1,3,0,Left,0,1,Benign
4,21,1,1,0,Right,0,1,Benign

In [9]:
data["Tumor Size (cm)"].unique()

array(['2', '4', '3', '1', '5', '6', '7', '10', '8', '9', '#', '14', '12'],
      dtype=object)

In [15]:
data["Diagnosis Result"].unique()

array(['Benign', 'Malignant'], dtype=object)