### Câncer de Mama
---

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('breast-cancer-dataset.csv')

In [4]:
data.head()

,S/N,Year,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,Breast Quadrant,History,Diagnosis Result
0,1,2019,40,1,2,0,Right,0,Upper inner,0,Benign
1,2,2019,39,1,2,0,Left,0,Upper outer,0,Benign
2,3,2019,45,0,4,0,Left,0,Lower outer,0,Benign
3,4,2019,26,1,3,0,Left,0,Lower inner,1,Benign
4,5,2019,21,1,1,0,Right,0,Upper outer,1,Benign

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   S/N               213 non-null    int64
 1   Year              213 non-null    object
 2   Age               213 non-null    int64
 3   Menopause         213 non-null    int64
 4   Tumor Size (cm)   213 non-null    object
 5   Inv-Nodes         213 non-null    object
 6   Breast            213 non-null    object
 7   Metastasis        213 non-null    object
 8   Breast Quadrant   213 non-null    object
 9   History           213 non-null    object
 10  Diagnosis Result  213 non-null    object
dtypes: int64(3), object(8)
memory usage: 18.4+ KB

In [6]:
data.describe()

              S/N         Age   Menopause
count  213.000000  213.000000  213.000000
mean   107.000000   39.784038    0.666667
std     61.631972   14.096712    0.472515
min      1.000000   13.000000    0.000000
25%     54.000000   30.000000    0.000000
50%    107.000000   40.000000    1.000000
75%    160.000000   49.000000    1.000000
max    213.000000   77.000000    1.000000

In [7]:
data.head()

,S/N,Year,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,Breast Quadrant,History,Diagnosis Result
0,1,2019,40,1,2,0,Right,0,Upper inner,0,Benign
1,2,2019,39,1,2,0,Left,0,Upper outer,0,Benign
2,3,2019,45,0,4,0,Left,0,Lower outer,0,Benign
3,4,2019,26,1,3,0,Left,0,Lower inner,1,Benign
4,5,2019,21,1,1,0,Right,0,Upper outer,1,Benign

In [8]:
data["Tumor Size (cm)"].unique()

array(['2', '4', '3', '1', '5', '6', '7', '10', '8', '9', '#', '14', '12'],
      dtype=object)

In [9]:
data["Diagnosis Result"].unique()

array(['Benign', 'Malignant'], dtype=object)

In [10]:
# Dimensões do df_dados
data.shape

(213, 11)